/* common sheard style */
body{
    
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    background: #FFF;
    font-family: 'Inter', sans-serif;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;

    
}

/* header section styles */

.text{
    width: 1320px;
    height: 600px;
    background-image:url('../images/Banner\ Image.png') ;
    background-repeat: no-repeat;
    background-position: center;
    background-color: border-radius: 16px;
    padding: 50px 140px 100px 140px ;
    
    
    
    
}
.title{
    text-align: center;
}
.new-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding: 140px 530px 0 530px;

}
.new-year-title{
   color: #FFF;
   text-align: center;
   font-family: Merriweather;
   font-size: 72px;
   font-style: normal;
   font-weight: 900;
   line-height: 95px; /* 131.944% */
   padding: 0 330px 170px 330px;
}

.text-first{
    width: 1320px;
    height: 600px;
    background-image:url('../images/Vectorrr.png') ;
    background-repeat: no-repeat;
    background-position: center;
    background-color: border-radius: 16px;
    padding: 50px 140px 100px 140px;
    display:flex;
    
}

.text-secend{
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.title-first{
    
    justify-content: left;
}
.new-title-first{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
justify-content: left;
padding:100px 120px 5px 50px ;

}
.new-year-title-first{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    padding: 5px 40px 10px 50px;
}
.btn{
    color: #FFF;
    background-color: #05020c;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    padding: 5px 10px;
    margin: 0 100px;
}

.offer-title{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: normal;
    padding:110px 200px 20px 500px;
}
.offer-description{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    padding: 20px 200px 0px 500px;
}
.offer-title-description{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    padding: 0px 200px 0px 500px;
}
.offer{
    background-image: url('../images/New\ Year\ Photo.png');
    width: 802.9px;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    padding:30px 400px 110px 350px;
}
.wow{
    text-align: center;
}
.profile-pic{
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 65px 135px 65px 90px;
}
/* main section style */

.main{
    background-color: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;

}
.main-text{
    text-align: center;
    color: #070211;
   font-family: Inter;
   font-size: 32px;
   font-weight: 600;
   line-height: 56px;
   text-transform: capitalize;
   padding: 100px 80px 20px 380px;
}
.main-first,.main-secend,.main-third{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
}
.main-but{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #F00;
    display: inline-flex;
    padding: 16px 32px;
    margin: 10px  100px 20px 400px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0;
    border-radius: 10px;
}
.main-first-but{
    text-align: center;
    padding: 100px 80px ;
    background: #FFF;
}
/
   /* style start another  */

.arif{
    text-align: left;
}
.abir{
    text-align: center;
}
.atik{
    text-align: right;
}
.arif-first{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    padding: 220px 200px 0 140px;

}
.arif-secend{
    color: #070211;
   font-family: Merriweather;
   font-size: 48px;
   font-weight: 900;
   text-transform: capitalize;
   padding: 0 90px 0 130px;
}
.arif-third{
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    padding: 20px 20px 120px 140px;
}
.abir{
    width: 463px;
    height: 463px;
    flex-shrink: 0;
    border-radius: 463px;
    border: 15px solid #F00;
    margin:200px 50px ;
    
}
.abir-first{
    width: 364.844px;
    height: 364.844px;
    flex-shrink: 0;
    border-radius: 364.844px;
    background: url(<path-to-image>), lightgray -91.279px 0px / 150.038% 100% no-repeat;
    margin: 50px 50px ;
}

.atik{
    
    background: #FFF;
}
.atik-first{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding: 220px 290px 0px 0px;

}
.atik-secend{
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    padding: 0px 140px 20px 100px;
    
}
.atik-third{
    width: 140px;
    height: 140px;
    padding:20px 280px 100px 10px;

}
.wow-happy{
    display: flex;
    
}
.section{
    width: 1600px;
    height: 7335px;
    margin-top: 0px;
    padding-top: 0px;
    background: #FFF;
}
.all-section{
    text-align: center;
}
.section-first{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    padding: 5px  ;

}
.section-secend{
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;

}
.section-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}
.section-third{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; /* 160% */
    padding:5px 265px 50px 265px;
}
.all-group{
    display: block;
    background-image: url('../images/Group\ 75.png');
    background-repeat: no-repeat;
    background-position:bottom left;
    
   
    
}
.group{
    background-image: url('../images/Rectangle\ 1.png');
    width: 429px;
    height: 433px;
    padding: 50px 140px 0px  850px ;
    background-repeat: no-repeat;
    background-position:bottom right;
    display: flex;
    margin: 0 auto;
}
.group-first{
    width: 206.841px;
    height: 206.841px;
    padding: 130px 50px 10px 50px;
   display: flex;
    

}
.group-secend{
    width: 1320px;
    height: 229px;
    background-image: url('../images/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position:top right;
    display: flex;
    padding: 0px 0px 0px 100px;
    margin: 0 auto;

}
.group-third{
    
    background-position: left top;
    display:flex;
    
}